.item {
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    /* min-height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-size: 18px;
    font-weight: 500;
    text-align: end;
}

.description {
    font-size: 14px;
    text-align: start;
}

.date {
    font-size: 12px;
    text-align: end;
}

@media only screen and (max-width: 800px) {
    .item {
        width: 80%;
    }
}