.container {
  width: 100%;
  display: flex;
  font-family: monospace;
  text-align: center;
  justify-content: center;
}

.root {
  background-color: #F0F1FF;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
  background-color: #fff;
  max-height: 2000px;
  max-width: 1200px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.description {
  height: 110px;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
  border: none;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
}

.name {
  height: 50px;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
  border: none;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
}

.submit {
  height: 40px;
  width: 80%;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.characters_container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 10px;
  padding: 10px;
  margin: 20px;
  align-items: center;
  width: 50%;
  overflow-y: auto;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
  background-color: #fff;
  max-height: 2000px;
  max-width: 1200px;
}

.title {
  font-family: 'Roboto', monospace;
}

.characters_container::-webkit-scrollbar {
  width: 10px;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
  }
  .input {
    width: 100%;
  }
  .characters_container {
    width: 100%;
  }
}

.error {
  color: red;
  font-size: 10px;
  font-weight: 500;
}